{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
      <img class = "rounded-circle article-img" src = "{{ url_for('static', filename = 'profile_pics/' + post.author.image_file ) }}">
        <!--rounded-circle -> a bootstrap class for rounding an image-->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}
<!--templating engine that flask uses is called Jinja
that allows us to write code in here-->