{% extends 'UniTipsApp/base.html' %}
{% block content %}
    <h2>
        Subjects with Corresponding Topics
    </h2>
    <ul>
        {% for subject in subjects %}
            <li>Subject - {{ subject }}<br>
                Taught by {{ subject.subj_prof }}<br>
                Topic - {{ subject.on_topic }}
        {% empty %}
            <li>No Topics Have Been Added Yet 😕
        {% endfor %}
    </ul>
    <h3>
        <a href="{% url 'Ut-about' %}">About</a>
    </h3>
{% endblock content %}