{% extends 'main.html' %}



{% block content %}
<h1>Home</h1>
<p>
    Lntum odio quis tincidunt tempus. 
    Aliquam consequat elementum nisl, non tempus ligula faucibus a. 
    Aenean eget mauris in ex facilisis finibus vitae vel nisi. Donec 
    et metus quis mauris placerat pellentesque. Ut sed ante id velit 
    elementum congue in maximus odio. Sed efficitur faucibus urna, sit 
    amet aliquet ligula lacinia ut. Maecenas mollis purus at laoreet malesuada.
    Nunc eu felis eget elit commodo fringilla non ac lacus. Duis ornare vestibulum 
    luctus. Fusce imperdiet lacus quis nulla placerat interdum. Vivamus rhoncus semper 
    augue non pulvinar. Ut vel ligula ipsum. Donec nec arcu nec turpis rutrum tincidunt et ut ante. 
    Nulla tortor ligula, tempor et sem quis, tincidunt dignissim nisi.
    Phasellus in quam sed ex gravida pulvinar. Nulla venenatis metus vel aliquet laoreet. 
    Curabitur imperdiet volutpat diam, et interdum eros rutrum eget. Pellentesque leo est, 
    dignissim vel viverra non, congue vel velit. Suspendisse potenti. Pellentesque et pulvinar purus. 
    Duis lobortis quam sit amet risus maximus, a efficitur velit tincidunt. In hac habitasse platea dictumst. 
    Donec viverra sem tellus. Curabitur condimentum felis id enim porta accumsan. Nunc volutpat lacus quam, 
    at scelerisque lorem pellentesque ac. Morbi augue arcu, malesuada vel tortor nec, interdum commodo est.
</p>
{% endblock content %}