{% extends 'main.html' %} {% load static %} {% block content %}

<section class="home s1">
  <div class="main-container">
    <div class="greeting-wrapper">
      <h1>Hi there, Jasurbek Mamurov's here!</h1>
      <div class="greeting-info-wrapper">
        <p style="font-size: 20px">An Artificial Intelligence Enthusiast</p>
      </div>
    </div>

    <div class="intro-wrapper">
      <div class="nav-wrapper">
        <div class="info-sign">
          <img
            src="{% static 'images/info-sign.png' %}"
            alt="information sign"
          />
        </div>
        <div class="window-buttons-wrapper">
          <div id="button1" class="window-buttons"></div>
          <div id="button2" class="window-buttons"></div>
          <div id="button3" class="window-buttons"></div>
        </div>
      </div>
      <div class="left-column">
        <div class="theme-options-wrapper">
          <div id="light-mode" class="theme-dot"></div>
          <div id="dark-mode" class="theme-dot"></div>
          <div id="blue-mode" class="theme-dot"></div>
          <div id="purple-mode" class="theme-dot"></div>
        </div>
      </div>
      <div class="center-column">
        <img
          id="profile-picture"
          src="{% static 'images/Jasurbek.jpg' %}"
          alt="My personal image"
        />
        <h5 style="text-align: center; line-height: 0">
          👈🏼 Personalize theme from the left side...
        </h5>
        <p id="settings-note">
          The option you choose would be saved for <br />
          your next visit.
        </p>
      </div>
      <div class="right-column">right-cloumn</div>
    </div>
  </div>
</section>

<section class="s2">
  <div class="main-container">Who am I?</div>
</section>

<section class="s1">
  <div class="main-container">Recent activities</div>
</section>

<section class="s2">
  <div class="main-container">Last posts</div>
</section>

<section class="s1">
  <div class="main-container">Want to talk with me?</div>
</section>
{% endblock content %}
