{% extends 'main.html' %} {% load static %} {% block content %}

<section class="home s1">
  <div class="main-container">
    <div class="greeting-wrapper">
      <h1>Hi there, Jasurbek Mamurov's here!</h1>
      <div class="greeting-info-wrapper">
        <p style="font-size: 20px">An Artificial Intelligence Enthusiast</p>
      </div>
    </div>

    <div class="intro-wrapper">
      <div class="nav-wrapper">
        <div class="info-sign">
          <img
            src="{% static 'images/info-sign.png' %}"
            alt="information sign"
          />
        </div>
        <div class="window-buttons-wrapper">
          <div id="button1" class="window-buttons"></div>
          <div id="button2" class="window-buttons"></div>
          <div id="button3" class="window-buttons"></div>
        </div>
      </div>
      <div class="left-column">
        <div class="theme-options-wrapper">
          <div id="light-mode" class="theme-dot"></div>
          <div id="dark-mode" class="theme-dot"></div>
          <div id="purple-mode" class="theme-dot"></div>
          <div id="blue-mode" class="theme-dot"></div>
        </div>
      </div>
      <div class="center-column">
        <img
          id="profile-picture"
          src="{% static 'images/Jasurbek.jpg' %}"
          alt="My personal image"
        />
        <br /><br />
        <h5 style="text-align: center; line-height: 0">
          👈🏼 Personalize the theme
        </h5>
        <br /><br />
      </div>
      <div class="right-column">
        <div id="preview-shadow">
          <div id="preview">
            <div id="corner-tl" class="corner"></div>
            <div id="corner-tr" class="corner"></div>
            <h3>Currently</h3>
            <br />
            <p>
              I am a student, learning Computer Science, exploring the world of
              AI, posting tech-stuff, and doing projects.
            </p>
            <div id="corner-bl" class="corner"></div>
            <div id="corner-br" class="corner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s2">
  <div class="main-container">
    <div class="about-wrapper">
      <div class="who-am-i">
        <h4>Who am I?</h4>
        <p>
          A student, follower, supporter, and an enthusiast living in
          Uzbekistan. Passionate about Computer Science and Engineering.
        </p>
        <br />
        <p>
          At the moment, entering to the world of Artificial Intelligence and
          Machine Learning. Continuing my journey as a co-founder of ML
          Community. Planed to reach my aims and make my dreams come true with
          the help of technology. Let's bring future together, today!
        </p>
        <p>BTW, let's look at my resume and download it:</p>
        <a target="_blank" href="{% static 'resume.pdf' %}"
          >👉🏻 Yeap, it is right here!</a
        >
      </div>

      <div class="skills">
        <h4>What do I have and know?</h4>
        <p>
          Skills at coding websites like this by building the fundament in the
          backend side and prettifying in the front. Furthermore, I can get most
          out of the data by using my data manipulation skills in Python and its
          Data Science libraries. So, let's look at what tools I can handle...
        </p>
        <br />
        <div id="skills-list">
          <ul>
            <li>Python</li>
            <li>C++</li>
            <li>Java</li>
            <li>Microsoft SQL Server</li>
          </ul>

          <ul>
            <li>Pandas</li>
            <li>Matplotlib</li>
            <li>Numpy</li>
            <li>Scikit-learn</li>
          </ul>

          <ul>
            <li>Django</li>
            <li>HTML/CSS</li>
            <li>Data Structures</li>
            <li>System Programming</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s1">
  <div class="main-container">Recent activities</div>
</section>

<section class="s2">
  <div class="main-container">Last posts</div>
</section>

<section class="s1">
  <div class="main-container">Want to talk with me?</div>
</section>
{% endblock content %}
