{% extends 'main.html' %}
{% load static %}
{% block content %}
<a href="{% url 'create-project' %}">Add a Project</a>
<hr>
<img style="width: 40%;" src="{% static 'images/Let\'s build the future today....png'%}" alt="my own intro text">
<h1>Projects</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td><a link href="{% url 'singleProject' project.id %}">{{project.title}}</a></td>
            <td>{{project.description}}</td>
            <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
            <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}