{% extends 'UTipsApp/base.html' %} 
{% block link %}
{% if user.is_authenticated %}
	<a class="nav-item nav-link" href="{% url 'edit-topic' topic.id %}">Edit Topic</a>
{% endif %}
{% endblock link %}
{% block content %} 
<h2>Topic: {{ topic.topic }}</h2>
<br>
<h4>
	<a href="{% url 'subject-details' subject.id %}" style="color:rgb(42, 30, 53)">Topics👈</a>
</h4>
<br />
<ul>
	
	<div class="article-metadata">
		<strong>Professor:</strong>
		<a href="#">{{ subject.professor }}</a>
	</div>
	<br>
	<strong>Date:</strong>
		{{ topic.date_shared|date:'M d, Y H:i' }}
	<hr>
	<strong>Author:</strong>
		{{ topic.author }}
	<hr>
	<strong>Content:</strong>
		{{ topic.text|linebreaks }}
	<hr>
</ul>
{% endblock content %}
